<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">回收步驟</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>(1)聯絡客服</h3>
                    <p class="text-muted">利用電話、Line、信箱與客服人員聯絡洽談。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>(2)到場估價</h3>
                    <p class="text-muted">與客服人員預約好方便的時間，工作人員會到場進行估價。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>(3)派車清運</h3>
                    <p class="text-muted">雙方討論同意後即可立即清運或另約時間到場清運。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>(4)循環利用</h3>
                    <p class="text-muted">資源回收再利用完成，成功的為地球環保盡一份力。</p>
                </div>
            </div>
        </div>
    </div>
</section>
